@{
  Layout = "_Layout";
}

@model MyProject.Models.Foo;

<h2>Foo Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Foo does not contain any Bars</p>
}
else
{
  <h4>Bars the Foo contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Bar.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Foos", "Index")</p>
<p>@Html.ActionLink("Edit Foo", "Edit", new { id = Model.FooId })</p>
<p>@Html.ActionLink("Delete Foo", "Delete", new { id = Model.FooId })</p>